streamlit
langchain-community
langchain-huggingface
chromadb
pdfplumber
python-dotenv
langchain-google-genai
langchain-chroma
protobuf==3.20.3
sentence-transformers
pypdf==4.3.1
reportlab
supabase
